# Server Configuration
PORT=3001

# Cashfree Configuration
CASHFREE_APP_ID=10740233429ec59b4bde3effd3f3204701
CASHFREE_SECRET_KEY=cfsk_ma_prod_1d3901ac8e0c40555324ae5b8dc3611b_cb065e7d
CASHFREE_API_ENV=sandbox
# Use 'production' for live environment

# Frontend URL (for CORS and return URL)
FRONTEND_URL=http://localhost:5173
RETURN_URL=http://localhost:5173/success