# Cashfree API Credentials
# Replace these with your actual Cashfree credentials from your dashboard
# For production, use your LIVE keys. For testing, use SANDBOX keys.

CASHFREE_APP_ID=10740233429ec59b4bde3effd3f3204701
CASHFREE_SECRET_KEY=cfsk_ma_prod_1d3901ac8e0c40555324ae5b8dc3611b_cb065e7d

# Environment (sandbox or production)
NODE_ENV="sandbox"